style "overlay_scrollbar" {
    bg[SELECTED] = @selected_bg_color
    bg[INSENSITIVE] = mix (0.95, @bg_color, @fg_color)
    bg[ACTIVE] = mix (0.75, @bg_color, @fg_color)
}

style "nautilus_location" {
    bg[NORMAL]  = mix (0.60, shade (1.05, @bg_color), @selected_bg_color)
}

style "evo_new_button_workaround" {
}



################
# WIDGET MATCH #
################

# Overlay scrollbar
widget_class "*<OsScrollbar>" style "overlay_scrollbar"
widget_class "*<OsThumb>" style "overlay_scrollbar"

# Evolution
widget_class "*.ETable.ECanvas" style "treeview_header"
widget_class "*.ETree.ECanvas" style "treeview_header"
widget_class "EShellWindow.GtkVBox.BonoboDock.BonoboDockBand.BonoboDockItem*" style "evo_new_button_workaround"

# Nautilus
widget "*.nautilus-extra-view-widget" style : highest "nautilus_location"
widget_class "*<EelEditableLabel>" style "fg_is_text_color_workaround"

# Sound indicator (Lucid)
widget "ido-offscreen-scale" style "soundfix"

# Indicator menu items
widget "*IdoEntryMenuItem*" style "wide"

