# DESKTOP ICONS
style "xfdesktop-icon-view" {
    XfdesktopIconView::label-alpha = 0
    XfdesktopIconView::selected-label-alpha = 170
    XfdesktopIconVIew::ellipsize-icon-labels = 1

    XfdesktopIconView::shadow-x-offset = 1
    XfdesktopIconView::shadow-y-offset = 1
    XfdesktopIconView::shadow-color = "#000000"
    XfdesktopIconView::selected-shadow-x-offset = 1
    XfdesktopIconView::selected-shadow-y-offset = 1
    XfdesktopIconView::selected-shadow-color = "#000000"

    XfdesktopIconVIew::cell-spacing = 2
    XfdesktopIconView::cell-padding = 2
    XfdesktopIconView::cell-text-width-proportion = 2

    base[NORMAL] = "#cccccc"
    base[SELECTED] = "#cccccc"
    base[ACTIVE] = "#cccccc"

    fg[NORMAL] = "#ffffff"
    fg[SELECTED] = "#000000"
    fg[ACTIVE] = "#000000"
}
widget_class "*XfdesktopIconView*" style "xfdesktop-icon-view"